form {
	input[type=text], input[type=email], textarea, select {
		@apply border;
		@apply border-gray-500;
		width: 100% !important;
		padding: 5px !important;
	}
	input[type=submit] {
		@extend %c-button;
		@apply bg-green;
		cursor: pointer;
	}
	select {
		margin: 12px 0;
	}
}

.ginput_container {
	margin: 0 !important;
	padding: 0 !important;
}

.gfield {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}

.gform_footer {
	margin: 30px 0 0 0 !important;
	padding: 0 !important;
}

#gform_fields_1 {
	margin-top: 60px !important;

	h4 {
		border-bottom: 1px solid #eee;
		padding-bottom: 12px;
		margin-top: 48px !important;
		margin-bottom: 24px;
	}

	.gfield {
		margin: 0 0 24px 0 !important;
	}
}

.gfield_checkbox li {
	display: flex;
	align-items: center;
	line-height: 1;

	input {
		margin-top: 0 !important;
		margin-right: 8px;
	}

	label {
		margin-top: 2px !important;
	}
}

#gform_fields_3, #gform_fields_1 {
	@screen lg {
		padding: 0 170px;
	}
}

#gform_submit_button_3, #gform_submit_button_1 {
	margin: 0 auto !important;
	display: block !important;
	width: 200px !important;
	@apply bg-orange;
}
