.header .container {
	@apply flex;
	@apply justify-between;

	@screen lg {
		display: block;
	}
}

.header__logo {
	@screen lg {
		background: #fff;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		padding: 0 48px 32px 48px;
		position: absolute;
		z-index: 1;
	}
	img {
		width: 80px;
		@screen lg {
			width: 128px;
		}
	}
}
