.mobile-menu {
    @apply bg-gray-200;
    display: none;

    ul {
        @apply m-0;
        @apply p-0;
    }

    li {
        @apply block;
    }

    a {
        @apply flex;
        @apply px-6;
        @apply py-4;
    }
}
