.newsletter {
	display: none;
}

.newsletter__bg {
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.newsletter__box {
	position: relative;
	background: #fff;
	width: 400px;
	@apply p-6;
	@apply rounded;
}

.newsletter__close {
	cursor: pointer;
	position: absolute;
	right: 30px;
	top: 30px;
	z-index: 11;
}
