@font-face {
    font-family: 'VAG Rounded';
    src: url('fonts/vag-rounded-400.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'VAG Rounded';
	src: url('fonts/vag-rounded-700.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
