.container {
    @apply px-4;
}

%grid {
    display: grid;
    grid-gap: 2rem;
}

.grid-2-lg4 {
    @extend %grid;
    grid-template-columns: repeat(2, 1fr);

    @screen lg {
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid-2 {
    @extend %grid;

    @screen lg {
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid-3 {
    @extend %grid;

    @screen lg {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid-4 {
    @extend %grid;

    @screen lg {
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid-sidebar {
    @extend %grid;

    @screen lg {
        grid-template-columns: 1fr 2fr;
    }
}
